---
layout: default
---
<div id="bodyer">
<div id="inner">
    <div class="story main_sub">
	<div class="main">
	    <div class="inner">
		    <div id="localNavi" class="clearfix">
			<div class="localNavi yearly">
			    <div>
				<img src="ui/year.png" alt="Year" title="" width="75" height="23" />
			    </div>
			    <ul class="clearfix">
				{% assign works = site.data.works | sort %}
				{% for works_at_year in works reversed %}
				<li><a href="#{{works_at_year[0]}}">{{works_at_year[0]}}</a></li>
				{% endfor %}
			    </ul>
			</div>
			<select class="localNavi">
			    <option value="./" selected>Year</option>
			    <option value="?=2017">2018</option>
			    <option value="?=2016">2017</option>
			    <option value="?=2015">2015</option>
			</select>
			<div class="localNavi category">
			    <div>
				<img src="ui/category.png" alt="Category" title="" width="100" height="23"/>
			    </div>
			    <ul class="clearfix">
				<li><a href="#">painting</a></li>
				<li><a href="#">design</a></li>
			    </ul>
			</div>
			<select class="localNavi">
			    <option value="./" selected>Category</option>
			    <option value="painting">painting</option>
			    <option value="design">design</option>
			</select>
		    </div>
			{% assign works = site.data.works | sort %}
			{% for works_at_year in works reversed  %}
			<div class="section">
			<div class="subhead" id="{{works_at_year[0]}}">{{works_at_year[0]}}</div>
			<div class="gallery clearfix">
			   {% for work in works_at_year[1] %}
			    <a data-fancybox-group="group" title="{{work.title}}" href="{{work.image_path}}" id="item001">
				<img width="125" height="125" title="{{work.title}}" class="attachment-thumbnail" src="{{work.thumbnail_path}}" />
				<div style="display: none;">{{work.description}}</div>
			    </a>
			   {% endfor %}
			</div>
			{% endfor %}
		    </div>
	    </div>
	</div>
    </div>
</div>
</div>
