---
---
<!doctype thml>
<html land="en" class="js">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,800,700italic,800italic,300italic,300' rel='stylesheet' type='text/css'>
    		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" media="all" type="text/css" href="{{site.url}}/css/common.css">
		<link rel="stylesheet" media="all" type="text/css" href="{{site.url}}/css/font-awesome.min.css"/>
       		<link rel="stylesheet" media="screen" type="text/css" href="{{site.url}}/js/fancybox/jquery.fancybox.css" />
		<script type="text/javascript" src="{{site.url}}/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{site.url}}/js/common.js"></script>
       		<script type="text/javascript" src="{{site.url}}/js/jquery.slides.min.js"></script>
        	<script type="text/javascript" src="{{site.url}}/js/fancybox/jquery.fancybox.pack.js"></script>
		<title>Works | HAN WANG</title>
    	</head>
    <body class="en works">
		<div id="upper">
			<header id="header">
				<h1><a href="">HAN WANG</a></h1>
			</header>
			<nav id="navi">
				<span class="first">
					<a href="{{site.url}}/index.html">Home</a>
				</span>
				<span>
					<a href="{{site.url}}/works.html">Works</a>
				</span>
				<span>
					<a href="{{site.url}}/biography.html">Biography</a>
				</span>
				<span class="last">
					<a href="{{site.url}}/press.html">Press</a>
				</span>
	               </nav>
		{{ content }}
		</div>
    </body>
</html> 
